.ipynb_checkpoints/Project_1-checkpoint.ipynb
Final_Project/raw_data/elonmusktwitter_tweets.csv
Final_Project/raw_data/elonmusktwitter_tweets_df.obj
Final_Project/raw_data/elongate_tweets.csv
Final_Project/.ipynb_checkpoints/Elongate_Sentiment_Analysis-checkpoint.ipynb
